numpy
matplotlib
pyvisa
scipy
re
os


# Note: pyvisa requires a VISA backend (e.g., NI-VISA or Keysight IO Libraries Suite) to be installed separately.
# For a GUI, install Keysight Connection Expert.